%h3 StackProf Navigator
%hr

%p
  Listing dumps at
  %b= @file

%table.centered                     
  %thead                            
    %th Dump
    %th Date                           
                                   
  %tbody
    - @dumps.each do |dump|                       
      %tr                                           
        %td                                         
          %a{:href => overview_url(dump[:path])}   
            = dump[:name]                        
        %td= dump[:date]                      
